body {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    font-family: 'Bree Serif', serif;
    padding: 3em 0.5em 2em 0.5em;

}

h1 {
    color: white;
    padding-bottom: 1rem;
}

.jumbotron {
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
    border-radius: 25px;

}

.issue-jumbotron {
    padding: 34px 22px;
    transition: 0.3s ease all;
}

.issue-jumbotron:hover {
    transform: scale(1.02);
}

.badge {
    padding: 0.5em 1em;
}